<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Classify</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Please insert your name">
                <input id="url" type="text" name="input" value="" placeholder="Please insert a valid article url">
                <input type="submit" name="" value="submit" onclick="return client.handleSubmit(event)"
                    onsubmit="return client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>